@import './index.scss';

.page {
  padding-left: 15rem;
  padding-right: 15rem;
  padding-top: $spacer;
  padding-bottom: $spacer;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
}

.card-block {
  background: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  box-shadow: 0 0 7px #dcdcdc;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.card-block:hover {
  border-bottom: 3px solid #38a5d7;
  transition: all 0.4s ease 0s;
  box-shadow: 0 0 30px #b6b6b6;
}

.card-content {
  margin: 10px 35px 20px 35px;
}

.card-image-div {
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 200px;
  transition: all 1s;
}

.card-image-div:hover {
  height: 300px;
  transition: all 0.4s ease;
}

.card-image-div img {
  flex-shrink: 0;
  min-height: 100%;
  min-width: 100%;
}

.card-button {
  color: #494949 !important;
  text-transform: uppercase;
  background: #ffffff;
  padding: 10px;
  border: 0 solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.card-button:hover {
color: #ffffff !important;
background: #38a5d7;
border-color: #38a5d7 !important;
transition: all 0.4s ease 0s;
}

.card-title {
  font-size: 22px;
}

.card-main-text {
  font-size: 16px;
  font-weight: lighter;
}

.page-description-header {
  font-size: 28px;
  margin-left: 5%;
  text-align: center;
}

.page-description-divider {
  width: 90%;
  margin: auto !important;
  border: 0;
  border-top: 1px solid #C8C8C8;
  opacity: 0.6;
}
