@import './index.scss';

.header {
    border-bottom: $border solid $grey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    width: 100%;
    background: $white;

    a,
    .active {
        width: $spacer * 4;
        font-size: $standartFont;
        text-decoration: none;
        color: $darkGrey;
        font-weight: bold;
        min-height: 100% !important;
        justify-content: center;
        display: flex;
        align-items: center;
        padding: $spacer;
    }
    a {
        &:hover {
            background-color: rgba($grey, .2);
        }
    }
    .active {
        border-bottom: $borderBold solid $blue;
        padding: $spacer $spacer $spacer - $borderBold $spacer;
    }
}