.create-form {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.create-form li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.create-form label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.create-form input[type=text],
.create-form input[type=date],
.create-form input[type=datetime],
.create-form input[type=number],
.create-form input[type=search],
.create-form input[type=time],
.create-form input[type=url],
.create-form input[type=email],
textarea,
select{
	border-radius: 5px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
}
.create-form input[type=text]:focus,
.create-form input[type=date]:focus,
.create-form input[type=datetime]:focus,
.create-form input[type=number]:focus,
.create-form input[type=search]:focus,
.create-form input[type=time]:focus,
.create-form input[type=url]:focus,
.create-form input[type=email]:focus,
.create-form textarea:focus,
.create-form select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.create-form .field-divided{
	width: 49%;
}

.create-form .field-long{
	width: 100%;
}
.create-form .field-select{
	width: 100%;
}
.create-form .field-textarea{
	height: 100px;
}

.create-form .required{
	color:red;
}

.submit-button {
	border-radius: 5px;
	color: #ffffff !important;
	background: #38a5d7;
	border-color: #38a5d7 !important;
	padding: 8px 15px 8px 15px;
	border: none;
	transition: all 0.4s ease 0s;
}

.submit-button:hover {
	color: #494949 !important;
	background: #ffffff;
	transition: all 0.4s ease 0s;
}
