app:
    host: ...
    port: ...

token:
    secret: ...
    expiration_time: ...
    algorithm: ...

database:
    name: ...
    user: ...
    password: ...
    host: ...
    port: ...
    admin_user: ...
    admin_password: ...

docker_meta:
    python:
        compiler_tag: ...
        compiler_dockerfile: ...
        runner_tag: ...
        runner_dockerfile: ...
        runner_command: ...

code:
    ...

loggers:
    version: 1
    formatters:
        simple:
            format: '%(levelname)s:%(name)s: %(message)s %(asctime)s'
    handlers:
        console:
            class: logging.StreamHandler
            level: INFO
            formatter: simple
            stream: ext://sys.stdout
        file:
            class: logging.FileHandler
            level: INFO
            formatter: simple
            filename: var/logs/dev.log
    loggers:
        app.middlewares:
            level: INFO
            handlers: [console]
            propagate: no
    root:
        level: DEBUG
        handlers: [console]